

h1 {
    color: rgb(3, 71, 15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 10%;
}

h2 {
    padding-top: 40%;
    color: rgb(3, 71, 15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}
img {
    float: left;
    width: 190px;
    border-radius: 50%;
    margin-right: 20%;
}

.Descrição {
 
    float: right;
    padding: 1% 30% 5%;
    text-align: center;    
}
.ListaDeHabilidades {
   
    padding: 1% 20% 5%;
    float: left;
    text-align: left;
    padding-right: 1%;
    
}

.Tenis {
    float: right;
    width: 230px;
    border-radius: 0%;
    margin-right: -10%;
   
}

.end {
    padding: 10%;
}